<div class="row">
  <section class="small-12 columns content-box">
      <header class='section-header'>
        <img src="/assets/bulb_white.svg" class='header-icon ?'>
        <h2 class="section-title">Help/About</h2>
      </header>

      <h3>What is this?</h3>
      <p>The Rootstrikers volunteer dashboard is a free and open-source software project developed by volunteers and staff from <a href="http://www.rootstrikers.org">Rootstrikers</a></p>
      <h3>Why am I here?</h3>
      <p>The long-term vision of the dashboard is to provide an organizing, activity-centered home to <a href="http://www.rootstrikers.org">Rootstrikers</a> supporters who are willing to volunteer their time and skills to assist with our campaigns. Ultimately we will be developing numerous tasks that volunteers can participate in, from organizing meetups to citizen lobbying.</p>
      <h3>Great! How can I help?</h3>
      <p>To get things started, we've developed a series of small tasks aimed at <i>volunteer-sourcing</i> <a href="http://www.rootstrikers.org">Rootstrikers</a> social media presence.</p>
      <h3>Why Social Media?</h3>
      <p>We at Rootstrikers wish to embody the kind of deeply democratic processes that we wish to see at play in the world around us. To that end, we are empowering our community of supporters to shape our most visible online presence.</p>
      <h3>How can I help?</h3>
      <p>You can help in one of these ways:</p>
      <ul>
          <li>When you're reading the news or blogs online and see an article you think <a href="http://www.rootstrikers.org">Rootstrikers</a> should share from its Twitter and Facebook pages, <a href="http://vdash.rootstrikers.org">login</a> to the dashboard and <a href="/links#suggest">share</a> the link!</li>
          <li><a href="/links#suggest">Browse</a> the links that others have shared and vote for the best.</li>
          <li><a href="/links?write=true">Write headlines</a> for the links you're sharing, or the links others have shared. Vote for the best headlines!</li>
          <li><a href="/contents">Preview</a> our upcoming social media stream and vote for the best overall posts.</li>
          <li>Follow Rootstrikers on <a href="https://www.facebook.com/rootstrikers?fref=ts">Facebook</a> and <a href="https://twitter.com/rootstrikers">Twitter</a> and Share or Retweet our posts, which, after all, are yours as much as they are ours!</li>
      </ul>
      <h3>I'm a software developer/graphic designer/user experience expert/etc. How can I contribute?</h3>
      <p>Check out our project on github and contact Peter Kinnaird (peter@rootstrikers.org) to get plugged in! We always need help and have a huge list of features we're building out.</p>
      <h3>I found a bug, I have another question that you haven't answered yet, I have comments or suggestions, etc.</h3>
      <p>Contact Peter Kinnaird (peter@rootstrikers.org)</p>
    </section><!-- small-12 columns content-box -->
</div><!-- row -->
