<div class="row">
  <section class="small-12 columns content-box">
      <header class='section-header'>
        <img src="/assets/bulb_white.svg" class='header-icon ?'>
        <h2 class="section-title">Help</h2>
      </header>

      <p>More help will be available soon.</p>
    </section><!-- small-12 columns content-box -->
</div><!-- row -->
