<h2>Top Facebook Post Ideas</h2>

<ul class="social-media-ideas facebook-contents">
  <% @contents.each do |content| %>
    <li>
      <%= content.body %>
      <%= link_to posts_path(content_type: 'facebook', content_id: content.id), class: 'pull-right no-decoration', method: :post do %>
        <i class="icon-facebook-sign"></i>
      <% end %>
    </li>
  <% end %>
</ul>
