<div class="row">
  <section class="small-12 columns content-box">
      <header class='section-header'>
        <img src="/assets/?" class='header-icon ?'>
        <h2 class="section-title">Top Post Ideas</h2>
        <%= link_to '- Deleted Ideas', admin_deleted_things_contents_path, class: 'button btn-section-header' if current_user.try(:admin?) %>
      </header>
      <div class='more-info'>
        <a class='more-info-toggle' href='#'>
          <h4 class="more-info-title">
            <i class='icon-info-sign'></i>More information...
          </h4>
          <h4 class='opened-message more-info-title'><i class='icon-minus-sign'></i>Hide</h4>
        </a>
        <div class='more-info-content'>
          <h3>Where did these posts come from?</h3>
          <p>Rootstrikers volunteers submitted links to news articles. Others volunteers thought they were great and wrote Tweets and Facebook posts to publicize them. These are the results of that volunteer effort.</p>
          <h3>What can I do to help?</h3>
          <p>Vote for the very best posts. Once a post gets enough votes from Rootstrikers volunteers, the staff will post it to Rootstriker's Facebook or Twitter feed (or both).</p>
          <h3>How should I decide which one to vote for?</h3>
          <p>Vote for only the very best posts. Here are some criteria to help you decide which ones are the best. Great social media posts are:
		<ul style="list-style-type: disc; padding-left:25px;padding-top:15px;">
			<li>Concise (as short as possible to get the idea across),</li>
			<li>Accurate (don't exaggerate or embelish the news they are sharing unnecessariliy),</li>
			<li>Exciting (share only the most important news using humor, irony, sarcasm, or astounding but accurate facts),</li>
			<li>Grammatically correct (free of spelling and grammatical errors),</li>
			<li>Viral (link to/tag appropriate others. For example, if a story is about Barack Obama, it could include a tag "@BarackObama")</li>
		</ul>
          </p>
        </div>
      </div>
	<p>Vote for social media posts that you think Rootstrikers should publicize. There may be more than one post for a given news article. Vote for the best one!</p>
      <ul class="social-media-ideas mixed-contents">
        <%= render partial: 'content', collection: @contents, locals: { include_link: true } %>
      </ul>

      <%= will_paginate @contents %>

  </section><!-- small-12 columns content-box -->
</div><!-- row -->



