<%= simple_form_for @user, html: { class: 'horizontal' } do |f| %>
  <div class='control-group'>
    <div class="controls">
      <%= f.input :name %>
    </div>
  </div>
  <div class='form-controls'>
    <%= f.submit %>
  </div>
<% end %>
