<div class="user-profile">
  <h2>
    <%= @user.name %>
  </h2>

  <% if @user.links.any? %>
    <h3>Submitted Links</h3>

    <ul>
      <%= render @user.links %>
    </ul>
  <% end %>

  <% if @user.contents.any? %>
    <h3>Submitted Post Ideas</h3>

    <ul class="mixed-contents">
      <%= render @user.contents %>
    </ul>
  <% end %>
</div>
