<ul class="small-block-grid-1 large-block-grid-3 home-options">
  <li>
    <a href="/links/new" class="button btn-home">
      <img src="/assets/axe_white.svg" type="image/svg+xml" class="home-axe">
      <h5>Suggest Article</h5>
    </a>
  </li>
  <li>
    <a href="/" class="button btn-home">
      <img src="/assets/write.png" class="home-write">
      <h5>Write</h5>
    </a>
  </li>
  <li>
    <a href="/links" class="button btn-home">
      <img src="/assets/upvote.png" class="home-upvote">
      <%# <h5>Vote</h5>  <!-- haven't decided on vote logo yet -->%>
    </a>
  </li>
</ul>
<div class="row">
  <div class="small-12 small-centered columns home-blurb">
    <h2>Some action verbs here, so take action </h2>
  </div>
</div>

<!--

          <h3>What is it?</h3>

          <p>Rootstrikers is a network of activists fighting the corrupting influence of money in politics.</p>

          <p>The Volunteer Dashboard is where you can help find and choose important news stories that Rootstrikers will post to our <a href="https://www.facebook.com/rootstrikers">Facebook</a> and <a href="https://twitter.com/rootstrikers">Twitter</a> pages.</p>
    
            <h3>How does it work?</h3>

            <p>News stories go through a super simple 5 step process to make sure the best stuff goes to our feeds.</p>

            <p><strong>Don't worry, you don't have to do them all!</strong>
            <p>
              <ol>
                <li>Submit a link to a news story or other interesting page.</li>
                <li>Vote on the links you would most want to share with you friends.</li>
                <li>Write messages to go along with popular news stories.</li>
                <li>Vote on the various messages that go with each link.</li>
                <li>Rootstriker moderators sanity check the results and post them to Facebook or Twitter.</li>
              </ol>
            </p>
            <p>
              The process is designed so you can start at the beginning or jump in somewhere along the way, and do as much or as little as you want. Give it a shot!
            </p>
 
  
          <h3>Get Started</h3>
          <p>
            <a href="/links/new">Suggest Links to Share</a><br> <%# TODO nice big butten %>
            It can take just a few seconds and helps fix our broken government.
          </p>

      -->

    