<p>
<a href="/auth/twitter">
  <img src="/assets/twitter-logo.png" height="80em" width="80em" alt="Twitter logo"/>
  Your Twitter account
</a><br />
<a href="/auth/facebook">
  <img src="/assets/facebook-logo.png" height="80em" width="80em" alt="Facebook logo">
  Your Facebook account
</a><br />
<a href="/auth/google_oauth2">
  <img src="/assets/google-logo.png" height="80em" width="80em" alt="Google logo">
  Your Google (Gmail) account
</a>
</p>
