<li class="link">
  <div class="pull-left">
    <div class="like">
      <%= render partial: 'links/like_status', locals: { link: link } %>
    </div>
    <div class="name-and-url">
      <div class="name">
        <%= link_to link.display_name, link %>
      </div>
      <div class="url">
        <%= link_to link.url, link.url, target: '_blank' %>
      </div>
    </div>
  </div>
  <div class="submitter">
    Submitted by <%= link_to link.user.name, link.user %>
  </div>
  <br style="clear: both" />
</li>
