<div class="row">

  <section id='article-suggestion' class="small-12 columns content-box">
		<header class='section-header'>
	  	<img src="/assets/axe_white.svg" class='header-icon hacking-axe' type="image/svg+xml">
	    <h2 class="section-title">Spread the Word</h2>
	  </header>
	  <div class='more-info'>
	  	<a class='more-info-toggle' href='#'>
	  		<h4 class="more-info-title">
	  			Click here for detailed instructions.<i class="icon-chevron-down"></i>
	  		</h4>
	  		<h4 class='opened-message more-info-title'><i class='icon-minus-sign'></i>Hide</h4>
	  	</a>
	  	<div class='more-info-content'>
	  		<h3>How This Works</h3>
            <ul style="list-style-type: disc; padding-left:25px;padding-top:15px;">
                <li>As you encounter news articles about political corruption in your day to day news reading, come back here to share them with other Rootstrikers.</li>
                <li>Other Rootstrikers will vote for the links that are shared here, helping to curate the best ones.</li>
                <li>Rootstrikers can also write tweets/facebook posts about the links and vote for the best posts.</li>
		        <li>Posts that have the most community support will be published on Rootstrikers' twitter account and facebook page.</li>
            </ul>
            <h3>To Get Started</h3>
              <ul style="list-style-type: disc; padding-left:25px;padding-top:15px;">
                  <li>Enter a link to a news article, blog post, essay, or other online content that you think Rootstrikers should share, then submit it!</li>
              </ul>
            <h3>Or</h3>
              <ul style="list-style-type: disc; padding-left:25px;padding-top:15px;">
                  <li>Vote on links that other Rootstrikers shared. Only vote for the ones you think are the best!</li>
              </ul>
            <h3>Or do both! As many times as you like, every day!</h3>
          </div>
	  </div>
	  <div id='form-container'>
	    <%= render 'links/form' %>
	  </div>
	</section>
</div>