<% if current_user.try(:admin?) %>
  <%= link_to 'Admin: <i class="icon-trash"></i>  Deleted Links'.html_safe, admin_deleted_things_links_path, class: 'button btn-deleted-links pull-right' if current_user.try(:admin?) %>
<% end %>

<% if current_user %>
  <div class="row">
    <section class="small-12 columns content-box">
      <a id="suggest"></a>
      <%= render '/links/suggestion_box' %>
    </section>
  </div>
<% end %>

<div class="row">
  &nbsp;
</div>

<div class="row">
  <a id="articles"></a>
  <section class="small-12 columns content-box">
      <header class='section-header'>
        <h2 class="section-title vote">Vote for Articles and Write Posts</h2>
      </header>

      <p class="page-explanation">
        Rootstrikers volunteers submitted these links to news articles.
      </p>

      <p class="page-explanation">
        Vote for the articles you think Rootstrikers should share on Facebook or Twitter.
      </p>

      <ul class="links-list">
        <%= render @links %>
      </ul>

      <%= will_paginate @links %>
  </section><!-- small-12 columns content-box -->
</div><!-- row -->

<% if @expand_all %>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.links-list a.more-info-toggle').click();
      $('.links-list .collapse-toggle').click();
    });
  </script>
<% end %>

