<div class="row">  
  <div class="small-12 columns content-box">
  	<section id='new-link'>
	  	<header class='section-header'>
		  	<img src="/assets/axe_white.svg" class='header-icon hacking-axe' type="image/svg+xml">
		    <h2 class="section-title">Spread the Word</h2>
		  </header>
		  <div class='more-info'>
		  	<a class='more-info-toggle' href='#'>
		  		<h4 class="more-info-title">
		  			<i class='icon-info-sign'></i>Need a little more information? Click here.
		  		</h4>
		  		<h4 class='opened-message more-info-title'><i class='icon-minus-sign'></i>Hide</h4>
		  	</a>
		  	<div class='more-info-content'>
		  		<h3>How This Works</h3>
			    <p>Enter links to news stories, essays, and anything else you'd share with your friends about fixing the corrupting influence of money in politics.</p>
			    <p>Others will vote on the link and help write the text of the tweet or facebook post.</p>
			  </div>
		  </div>
	    <%= render 'form' %>
	  </section>
  </div><!-- small-12 columns content-box -->
</div><!-- row -->
