<h2>Spread the Word</h2>

<p>Enter links to news stories, essays, and anything else you'd share with your friends about fixing the corrupting influence of money in politics.</p>

<p>Others will vote on the link and help write the text of the tweet or facebook post.</p>

<%= render 'form' %>
