<h2>Social Media Posts</h2>

<p>Below are the last posts made from the Volunteer Dashboard.</p>

<ul class="social-media-ideas">
  <% @posts.each do |post| %>
    <li>
      <% if post.is_a?(Posts::Twitter) %>
        <i class="icon-twitter-sign"></i>
      <% elsif post.is_a?(Posts::Facebook) %>
        <i class="icon-facebook-sign"></i>
      <% end %>
      <%= post.content.body %>
      <br />
      <%= link_to post.content.link_domain, post.content.link_url %>
    </li>
  <% end %>
</ul>

<%= will_paginate @posts %>
