footer {
  /* start sticky footer stuff */
  position: relative;
  margin-top: -100px;  
  height: 100px;
  clear: both; 
  /* end sticky footer stuff */

  
  text-align: right;
  font-size: 13px;
  padding: 8px;
  
  background: #626173;
  color: #ffffff;
  @include linear-gradient(left, #223141, #243343);
  a {
    color: white;
    text-decoration: underline;
    &:hover {
      color: rgb(200, 200, 200);
    }
  }
  
}

address {
  font-style: normal;
  font-weight: 100;
}
.licence-info {
  text-align: center;
  font-weight: 100;
}