section#new-link {
	header.section-header {
		height: 36px;
		background: royalblue;
		border-radius: 2px 2px 0 0;
		img.header-icon {
			width: 24px;
			height: 24px;
			margin: 7px 6px 6px 11px;
			float: left;
			display: inline-block;
		}
		h2 {
			display: inline-block;
			font-size: 16px;
			line-height: 36px;
			margin: 0;
			color: white;
			margin-left: 4px;
		}
	}
	div.more-info {
 		padding: 0;
 		a.more-info-toggle {
 			display: none;
 			font-size: 10px;
			text-align: right;
			padding: 2px 16px;
			line-height: 10px;
			height: 24px;
			text-decoration: none;
			background: #F5F6F7;
			box-shadow: inset 0 -1px 0 #b0baba, 0 1px 0 rgba(250, 250, 250, 0.9);
			border-right: 1px solid #D3D5D5;
			border-left: 1px solid #D3D5D5;
			h4 {
				float: right;
				color: #c2c8d2;
				padding: 0;
				margin: 0;
				&:hover {
	
				}
				&.opened-message {
					display: none;
				}
				i {
					width: 17px;
					font-size: 16px;
					margin-right: 8px;
					margin-top: 1px;
				}
			}
 		}
		div.more-info-content {
			margin: 0;
			padding: 32px;
			p {
				font-size: 16px;
				line-height: 20px;
				font-weight: 200;
			}
		}
		&.opened-info a.more-info-toggle{
			h4 {
				display: none;
				&.opened-message {
					display: block;
				}
			}
		}
	}
	
	form {

	}
}