h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serifsans-serif;  
    font-weight: 200; 
    color: #32324E; 
}
h3 {
	padding-top: 20px;
}
section#body-content {
  height: 800px!important; /* put sticky footer once stuff is decided on - keeping it simple for now*/
}
body {
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  margin: 0;
  padding: 0;
  background-color: #DFDEE3; 
  background-image: url('/assets/tile_grey.jpeg');
  color: #32324E;
}
ul {
  list-style-type: none;
}
.alert-box {
  position: absolute;
  width: 30%;
  margin-left: -15%;
  left: 50%;
  top: 7px;
  background-color: transparent;
  border: none;
  font-size: 18px;
  color: #333333;
}
.full-width {
  width: 100%;
  max-width: 100%;
}
a {    
  color: #cb2027;
  &:hover {
    color: #cb2027;
  }
}
p {
  margin: 0;
  margin-top: 8px;
  margin-bottom: 8px;
  &:first-child {
    margin-top: 0;
  }
}
.service {
  display: inline;
  float: left;
}
.body {
  width: 80%;
  display: inline;
  float: left;
}
a.no-decoration {
  text-decoration: none;
}
.horizontal-divider {
  height: 18px;
  margin-top: 40px;
  @include border-top-radius(3px);
}
.red {
  background-color: $secondary-color;
}
.black {
  background-color: $primary-color;
}
input[type="text"], 
input[type="password"], 
input[type="date"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="month"], 
input[type="week"], 
input[type="email"], 
input[type="number"], 
input[type="search"], 
input[type="tel"], 
input[type="time"], 
input[type="url"], 
textarea {
  
}
textarea {
  height: 32px;
}


/* Main Content Area
-------------------------------------------------- */
section#body-content {
  /*background: #ECEDF7;*/
  padding-top: 60px;
}
  .columns.content-box {
    background-color: white;
    padding: 0;
    border-radius: 2px;  
  }
.content-box > :not(header) {
    padding-left: 12px;
    padding-right: 12px;
}
.content-box > .more-info {
  padding: 0;
}
header.section-header {
  background: #243343;
  border-radius: 2px 2px 0 0;     
    height: 36px; /* maybe make into mixin, but keep btn-section-header the same as this */
}
.button.btn-section-header {
  height: 36px;
  float: right;
  background: #243343;
  &:hover {
    background: rgb(87, 121, 156);
  }
  border:none;
  border-left:1px solid #777;
  box-shadow: none;
  font-weight: 200;
  font-size: 14px;
   margin-bottom: -1px; /* (so it doesnt interact with 'add "more info" bit ) */
}/* button submit link */

img.header-icon {
    width: 24px;
    height: 24px;
    margin: 7px 6px 6px 11px;
    float: left;
    display: inline-block;
}
.section-title {
  display: inline-block;
  font-size: 16px;
  line-height: 36px;
  margin: 0;
  color: white;
  margin-left: 4px;
} 
div.more-info {
  padding: 0;         
  &.opened-info a.more-info-toggle{
    h4 {
      display: none;
      &.opened-message {
        display: block;
      }
    }
  }
}/* more-info */
a.more-info-toggle {
  display: none;
  font-size: 10px;
  text-align: right;
  padding: 2px 16px;
  line-height: 10px;
  height: 24px;
  text-decoration: none;
  background: #F5F6F7;
  box-shadow: inset 0 -1px 0 #b0baba, 0 1px 0 rgba(250, 250, 250, 0.9);
  border-right: 1px solid #D3D5D5;
  border-left: 1px solid #D3D5D5;
  &:hover {
    background: #ECECEC;
    border-bottom: 1px solid rgb(200, 200, 200);
  }     
}/* more info toggle */
.more-info-title {
  float: right;
  color: #83878D;
  padding: 0;
  margin: 0;
  &:hover {
    color: #727272;
  }       
  i {
    width: 17px;
    font-size: 16px;
    margin-right: 8px;
    margin-top: 1px;
  }
}/* more-info-title */
.opened-message {
    display: none;
}
div.more-info-content {
  margin: 0;
  padding: 32px;
  display: none;
  p {
    font-size: 16px;
    line-height: 20px;
    font-weight: 200;
  }
} /* more-info-content */


/* Form Elements
-------------------------------------------------- */
input[type="text"], input[type="password"], input[type="date"], 
input[type="datetime"], input[type="datetime-local"], 
input[type="month"], input[type="week"], input[type="email"], 
input[type="number"], input[type="search"], input[type="tel"], 
input[type="time"], input[type="url"], textarea {
  margin-bottom: 0;
}
label {
  margin-top: 8px;
  margin-bottom: 24px;
  font-size: 11px;
  color: #83878D;
  float: right;
  display: none;
}


/* Home 
---------------------------------------------*/
.home-blurb {
  text-align: center;
  margin-top: 30px;
}
.welcome-message { 
  /*  not sure about this - doesn't make sense 
      to remove nav but also doesnt make sense to have 
      the big buttons under a nav with them. maybe 
      think of something else to put here */

      color: #ffffff;
      margin-top: 22px;
      margin-left: 96px;
      font-size: 19px;
      text-align: right;
      a {
        color: #ffffff;
        text-decoration: underline;
      }
}
ul.home-options {
  text-align: center;
}
  .home-axe {
      height: 80px;
      margin: 37px 0 8px 0;      
  }
  .home-write {
      height: 80px; /* resize later */  
      margin: 43px 0 6px 0;      
      border-radius: 2px;
  }
  .home-upvote {
      margin: 60px 0 12px 0;
      border-radius: 2px;
  }
  a.button.btn-home {
    h5 {
      color: #ffffff;
    }
    background-color: #db0d16;    
    border: 8px solid #c70109;
    border-radius: 50%;
    height: 210px;
    width: 210px;
    padding: 0;
    @include box-shadow(1px 2px 1px rgba(102, 102, 102, 0.5) inset);
    &:hover {
      @include box-shadow(none);
      background-color: #c70109;
    }
  }


/* Miscellaneous 
-------------------------------------------------- */
.hacking-axe{
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 2s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 2s;
    -webkit-animation-name: hack; 
    -webkit-animation-duration: 2s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: hack; 
    -moz-animation-duration: 2s; 
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes hack {
      0% { -webkit-transform: rotate(0deg); }
     50% { -webkit-transform: rotate(45deg); }
    100% { -webkit-transform: rotate(0deg); }
}

@-moz-keyframes hack {
      0% {-moz-transform: rotate(0deg);}
     50% {-moz-transform: rotate(45deg);}
    100% {-moz-transform: rotate(0deg); }
}

#masthead .button, 
input[type="submit"].button {
  border: 0;
  display: block;
  position: relative;
  overflow: hidden;
  padding: 0 15px;
  background: #db0d16;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 0 rgba(246, 104, 110, 0.5), 
              inset 0 -1px 0 #C10911, 
              inset 1px 0 0 #C70109, 
              inset -1px 0 0 #C70109;
  -moz-box-shadow: inset 0 1px 0 rgba(246, 104, 110, 0.5), 
              inset 0 -1px 0 #C10911, 
              inset 1px 0 0 #C70109, 
              inset -1px 0 0 #C70109;
  -o-box-shadow: inset 0 1px 0 rgba(246, 104, 110, 0.5), 
              inset 0 -1px 0 #C10911, 
              inset 1px 0 0 #C70109, 
              inset -1px 0 0 #C70109;
  box-shadow: inset 0 1px 0 rgba(246, 104, 110, 0.5), 
              inset 0 -1px 0 #C10911, 
              inset 1px 0 0 #C70109, 
              inset -1px 0 0 #C70109;
  border-bottom: 3px solid #c70109;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 35px;
  font-weight: bold;
  color: white;
  &:hover, &:active {
    @include transition (background 1ms ease-in);
    background: -o-linear-gradient(top, #db0d16, #D10C15);
    background: -moz-linear-gradient(top, #db0d16, #D10C15);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #db0d16), color-stop(1, #D10C15));
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#db0d1600,EndColorStr=#D10C1500);
    -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#db0d1600,EndColorStr=#D10C1500)";
  }
  &:active{
    @include transition (border 1ms ease-in);
    @include transition (margin 1ms ease-in);
    border: 0;
    margin-top: 2px;
  }
}

.clean-modal.reveal-modal {
  padding: 0;
  
}
