/* start sticky footer stuff */
* { margin:0; padding:0; }
html, body, #wrap { height: 100%; }
body > #wrap {height: auto; min-height: 100%;}
#main { padding-bottom: 150px; }
/* end sticky footer stuff */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serifsans-serif;
    font-weight: 200;
    color: #32324E;
}
h3 {
	padding-top: 20px;
}
body {
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  background-color: #DFDEE3;
  background-image: url('/assets/tile_grey.jpeg');
  color: #32324E;
}
ul {
  list-style-type: none;
}
.alert-box {
  border: 0;
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 0px;
  line-height: 64px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  background: white;
  border-bottom: 1px solid lightgray;
  box-shadow: 0 3px 7px rgba(165,165,175,.1);
  -webkit-box-shadow: 0 3px 7px rgba(165,165,175,.1);
  -moz-box-shadow: 0 3px 7px rgba(165,165,175,.1);
  -o-box-shadow: 0 3px 7px rgba(165,165,175,.1);
  box-shadow: 0 3px 7px rgba(165,165,175,.1);
  -webkit-transition-property: height, line-height;
            -webkit-transition-duration: .3s, .3s;
            -webkit-transition-timing-function: ease-in, ease-in;
               -moz-transition-property: height, line-height;
               -moz-transition-duration: .3s, .3s;
               -moz-transition-timing-function: ease-in, ease-in;
                 -o-transition-property: height, line-height;
                 -o-transition-duration: .3s, .3s;
                 -o-transition-timing-function: ease-in, ease-in;
                    transition-property: height, line-height;
                    transition-duration: .3s, .3s;
                    transition-timing-function: ease-in, ease-in;
  color: #32324E;
  span.close {
    &:hover {
      cursor: pointer;
    }
  }
}
.alert-box.admin-message:before {
  content: "Notice:";
  padding: 8px;
}
.alert-box.admin-message {
  background-color: #F3CA47;
  height: 64px;
  line-height: 64px;
}

.full-width {
  width: 100%;
  max-width: 100%;
}
a {
  color: #0645AD;
  &:hover {
    color: #00358D;
  }
}
p {
  margin: 0;
  margin-top: 8px;
  margin-bottom: 8px;
  &:first-child {
    margin-top: 0;
  }
}
a.no-decoration {
  text-decoration: none;
}
.horizontal-divider {
  height: 18px;
  margin-top: 40px;
  @include border-top-radius(3px);
}
.red {
  background-color: $secondary-color;
}
.black {
  background-color: $primary-color;
}
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {

}
textarea {
  height: 32px;
}


/* Main Content Area
-------------------------------------------------- */
section#body-content {
  /*background: #ECEDF7;*/
  padding-top: 30px;
}
  .columns.content-box {
    background-color: white;
    padding: 0;
    border-radius: 2px;
  }
.content-box > :not(header) {
    padding-left: 12px;
    padding-right: 12px;
}
.content-box > .more-info,
.content-box > #suggest {
  padding: 0;
}
header.section-header {
  background: #243343;
  border-radius: 2px 2px 0 0;
    height: 64px; /* maybe make into mixin, but keep btn-section-header the same as this */
}
.button.btn-section-header {
  height: 36px;
  float: right;
  background: #243343;
  &:hover {
    background: rgb(87, 121, 156);
  }
  border:none;
  border-left:1px solid #777;
  box-shadow: none;
  font-weight: 200;
  font-size: 14px;
   margin-bottom: -1px; /* (so it doesnt interact with 'add "more info" bit ) */
}/* button submit link */

.page-explanation {
  margin-left: 45px;
}
.header-icon {
  width: 24px;
  height: 24px;
  margin: 21px 16px 6px 20px;
  float: left;
  display: inline-block;
}
.section-title {
  display: inline-block;
  font-size: 16px;
  line-height: 64px;
  margin: 0;
  color: white;
  margin-left: 0px;
  font-weight: 500;
}
  .vote {
    margin-left: 45px;
  }
div.more-info {
  padding: 0;
  &.opened-info a.more-info-toggle{
    h4 {
      display: none;
      &.opened-message {
        display: block;
      }
    }
  }
  .button.like-action {
    font-size: 12px;
    padding: 10px 14px;
    margin-right: 8px;
  }
  .button.btn-suggest-post {
    &:hover {
      background-color: #d10c15;
    }
  }
}/* more-info */
a.more-info-toggle {
  display: none;
  font-size: 10px;
  text-align: right;
  padding: 2px 16px 8px;
  line-height: 10px;
  height: 24px;
  text-decoration: none;
  background: #F5F6F7;
  box-shadow: inset 0 -1px 0 #b0baba, 0 1px 0 rgba(250, 250, 250, 0.9);
  border-right: 1px solid #D3D5D5;
  border-left: 1px solid #D3D5D5;
  &:hover {
    background: #ECECEC;
    border-bottom: 1px solid rgb(200, 200, 200);
    cursor: pointer;
  }
}/* more info toggle */
.edit-post-section {
  a.more-info-toggle {
    width: auto;
    float: right;
    position: relative;
    z-index: 99;
    margin-top: -24px;
    margin-right: -15px;
    border-top: 1px solid #D3D5D5;
  }
  .more-info-content {
    background-color: #F5F5F5;
    @include border-bottom-radius(3px);
    border:1px solid #C0C0C0;
    float: right;
    width: 99%;
    position: relative;
    z-index: 98;
    padding: 16px;

  }

}
.more-info-title {
  float: right;
  /*color: #83878D;*/
  font-size: 1.6em;
  padding: 0;
  margin: 0;
  &:hover {
    color: #727272;
  }
  i {
    width: 17px;
    font-size: 16px;
    margin-right: 8px;
    margin-top: 1px;
  }
}/* more-info-title */
.opened-message {
    display: none;
}
div.more-info-content {
  margin: 0;
  padding: 32px;
  display: none;
  h3 {
    padding-top: 0;
  }
  p {
    font-size: 16px;
    line-height: 20px;
    font-weight: 200;
  }
} /* more-info-content */


/* Form Elements
-------------------------------------------------- */
input[type="text"], input[type="password"], input[type="date"],
input[type="datetime"], input[type="datetime-local"],
input[type="month"], input[type="week"], input[type="email"],
input[type="number"], input[type="search"], input[type="tel"],
input[type="time"], input[type="url"], textarea {
  margin-bottom: 0;
  border-radius: 3px;
}
label {
  margin-top: 8px;
  margin-bottom: 24px;
  color: #83878D;
  float: right;
  display: none;
  &.checkbox {
    display: inline;
    float: none;
  }
}


/* Home
---------------------------------------------*/
.home-blurb {
  text-align: center;
  margin-top: 30px;
}
.welcome-message {
  /*  not sure about this - doesn't make sense
      to remove nav but also doesnt make sense to have
      the big buttons under a nav with them. maybe
      think of something else to put here */
      color: #ffffff;
      font-size: 19px;
      a {
        color: #ffffff;
        text-decoration: underline;
      }
}
ul.home-options {
  text-align: center;
}
  .home-axe {
      height: 80px;
      margin: 37px 0 8px 0;
  }
  .home-write {
      height: 80px; /* resize later */
      margin: 43px 0 6px 0;
      border-radius: 2px;
  }
  .home-preview {
      height: 80px;
      margin: 43px 0 6px 0;
      border-radius: 2px;
  }
  a.button.btn-home {
    h5 {
      color: #ffffff;
    }
    background-color: #db0d16;
    border: 8px solid #c70109;
    border-radius: 50%;
    height: 210px;
    width: 210px;
    padding: 0;
    @include box-shadow(1px 2px 1px rgba(102, 102, 102, 0.5) inset);
    &:hover {
      @include box-shadow(none);
      background-color: #c70109;
      cursor: pointer;
    }
  }


/* Vote page
----------------------------------------------------- */
.post-details {
  padding: 14px;
  margin: 30px;
  border: 1px solid #DFDEE3;
  border-radius: 3px;
}
.detail-title {
  display:inline-block;
  width: 700px;
  padding: 9px 10px 0 0;
  width: 78%;
}

/* Links
-------------------------------------------------- */
section#article-suggestion {
  div#form-container {
    form {
      margin: 32px 0 32px 0;
      padding: 0;
      div.row {
        margin: 0;
        div.columns {
          padding-left: 0;
          padding-right: 16px;
          overflow: hidden;
          input[type='text'] {
            width: 100%;
          }
          textarea {
            min-height: 96px;
          }
          div.field_valley {
            height: 24px;
          }
          &.error-column {
            overflow: hidden;
            height: 32px;
            span.inline-error {
              background: #E96E73;
              padding: 7px 32px;
              max-width: 100%;
              position: absolute;
              left: 0;
              font-weight: 300;
              color: white;
              margin-left: 12px;
              border-radius: 3px;
              &:after {
                content: '';
                display: inline-block;
                position: absolute;
                width: 1px;
                height: 1px;
                border-width: 8px 8px 8px 0px;
                border-style: solid;
                border-color: transparent #E96E73 transparent transparent;
                left: -7px;
                top: 7px;
              }
            }
          }
        }
      }
      div.form-footer {
        div div.row {
          margin: 0;
          a.close-reveal-modal {
            float: left;
            position: relative;
            left: auto;
            top: auto;
            right: auto;
            line-height: 36px;
            font-weight: 400;
            font-size: 16px;
          }
          input.button {
            float: right;
          }
          .button.share-link {
            background-color: #d10c15;
          }
        }
        div.footnote {
          text-align: right;
          font-size: 12px;
        }
      }
    }
  }
}

/* Miscellaneous
-------------------------------------------------- */
.hacking-axe{
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 2s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 2s;
    -webkit-animation-name: hack;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: hack;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes hack {
      0% { -webkit-transform: rotate(0deg); }
     50% { -webkit-transform: rotate(45deg); }
    100% { -webkit-transform: rotate(0deg); }
}

@-moz-keyframes hack {
      0% {-moz-transform: rotate(0deg);}
     50% {-moz-transform: rotate(45deg);}
    100% {-moz-transform: rotate(0deg); }
}

.button {
  background-color: #243343;
  border: none;
}
#masthead .button,
input[type="submit"].button {
  border: 0;
  display: block;
  position: relative;
  overflow: hidden;
  padding: 0 15px;
  background: #db0d16;
  cursor: pointer;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 0 rgba(246, 104, 110, 0.5),
              inset 0 -1px 0 #C10911,
              inset 1px 0 0 #C70109,
              inset -1px 0 0 #C70109;
  -moz-box-shadow: inset 0 1px 0 rgba(246, 104, 110, 0.5),
              inset 0 -1px 0 #C10911,
              inset 1px 0 0 #C70109,
              inset -1px 0 0 #C70109;
  -o-box-shadow: inset 0 1px 0 rgba(246, 104, 110, 0.5),
              inset 0 -1px 0 #C10911,
              inset 1px 0 0 #C70109,
              inset -1px 0 0 #C70109;
  box-shadow: inset 0 1px 0 rgba(246, 104, 110, 0.5),
              inset 0 -1px 0 #C10911,
              inset 1px 0 0 #C70109,
              inset -1px 0 0 #C70109;
  border-bottom: 3px solid #c70109;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 35px;
  font-weight: bold;
  color: white;
  &:hover, &:active {
    @include transition (background 1ms ease-in);
    background: -o-linear-gradient(top, #db0d16, #D10C15);
    background: -moz-linear-gradient(top, #db0d16, #D10C15);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #db0d16), color-stop(1, #D10C15));
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#db0d1600,EndColorStr=#D10C1500);
    -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#db0d1600,EndColorStr=#D10C1500)";
  }
  &:active{
    @include transition (border 1ms ease-in);
    @include transition (margin 1ms ease-in);
    border: 0;
    margin-top: 2px;
  }
}
.button.like-action {
  font-weight: 100;
  font-size: 13px;
  text-shadow: 1px 1px #000000;
  border-radius: 3px;
  &:hover {
    background-color: #57799c;
    text-shadow: -1px -1px #57799c;
  }
  &.voted {
    background-color: #57799c;
  }
  white-space: nowrap;
}

.clean-modal.reveal-modal {
  padding: 0;
  background-color: white;
  border-radius: 3px;
}


/* Responsive
-------------------------------------------------- */

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* Styles */
}


/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
  .clean-modal.reveal-modal {
    width: 480px;
    margin-left: -240px;
  }
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {

}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
  .clean-modal.reveal-modal {
    width: 480px;
    margin-left: -240px;
  }
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
  .clean-modal.reveal-modal {
    width: 480px;
    margin-left: -240px;
  }
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}
