h1, h2, h3, h4, h5, h6 {
    font-family: 'Oxygen', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serifsans-serif;  
    font-weight: 200; 
    color: #32324E; 
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  margin: 0;
  padding: 0;
  background-color: #FEFEFE; 
  color: #32324E;   
}
ul {
  list-style-type: none;
}
.alert-box {
  position: absolute;
  width: 80%;
  margin-left: -40%;
  left: 50%;
  top: 0px;
  @include border-bottom-radius(4px);
  background-color: $secondary-color;
  border: none;
}
.full-width {
  width: 100%;
  max-width: 100%;
}
a {    
  color: #cb2027;
  &:hover {
    color: #cb2027;
  }
}

p {
  margin: 0;
  margin-top: 16px;
  &:first-child {
    margin-top: 0;
  }
}
.service {
  display: inline;
  float: left;
}
.body {
  width: 80%;
  display: inline;
  float: left;
}
a.no-decoration {
  text-decoration: none;
}
.horizontal-divider {
  height: 18px;
  margin-top: 40px;
  @include border-top-radius(3px);
}
.red {
  background-color: $secondary-color;
}
.black {
  background-color: $primary-color;
}
input[type="submit"].button {
  color: #ffffff;  
  font-weight: 400;
  padding: 2px 19px 10px 19px;
 
  border-radius: 4px;  
  background: $primary-color;
}
input[type="text"], 
input[type="password"], 
input[type="date"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="month"], 
input[type="week"], 
input[type="email"], 
input[type="number"], 
input[type="search"], 
input[type="tel"], 
input[type="time"], 
input[type="url"], 
textarea {
  
}
textarea {
  height: 32px;
}
  input[type="submit"].button {
    font-size: 14px;
    padding: 10px;    
  }
input[type="submit"].button:hover {
  background: $primary-color;
  border-color: $primary-color;
  cursor: pointer;
  @include transition (background 1ms ease-in);
}

/* Main Content Area
-------------------------------------------------- */
section#body-content {
  /*background: #ECEDF7;*/
  background: #F0EEE7;
  padding-top: 60px;
}
  .columns.content-box {
    background-color: white;
    padding: 0;
    border-radius: 2px;  
  }
.content-box > :not(header) {
    padding: 12px;    
}
.content-box > .more-info {
  padding: 0;
}
header.section-header {
  background: royalblue;
  border-radius: 2px 2px 0 0;     
    height: 36px; /* maybe make into mixin, but keep btn-section-header the same as this */
}
 .button.btn-section-header {
    height: 36px;
    float: right;
    background: rgb(58, 92, 192);
    &:hover {
      background: rgb(78, 120, 245);
    }
    border:none;
    border-left:1px solid #333;
    box-shadow: none;
    font-weight: 200;
    font-size: 14px;
     margin-bottom: -1px; /* (so it doesnt interact with 'add "more info" bit ) */
  }/* button submit link */

  img.header-icon {
      width: 24px;
      height: 24px;
      margin: 7px 6px 6px 11px;
      float: left;
      display: inline-block;
  }
  .section-title {
    display: inline-block;
    font-size: 16px;
    line-height: 36px;
    margin: 0;
    color: white;
    margin-left: 4px;
  } 
  div.more-info {
    padding: 0;         
    &.opened-info a.more-info-toggle{
      h4 {
        display: none;
        &.opened-message {
          display: block;
        }
      }
    }
  }/* more-info */
  a.more-info-toggle {
      display: none;
      font-size: 10px;
      text-align: right;
      padding: 2px 16px;
      line-height: 10px;
      height: 24px;
      text-decoration: none;
      background: #F5F6F7;
      box-shadow: inset 0 -1px 0 #b0baba, 0 1px 0 rgba(250, 250, 250, 0.9);
      border-right: 1px solid #D3D5D5;
      border-left: 1px solid #D3D5D5;
      &:hover {
        background: #ECECEC;
      }     
    }/* more info toggle */
      .more-info-title {
        float: right;
        color: #83878D;
        padding: 0;
        margin: 0;
        &:hover {
          color: #727272;
        }       
        i {
          width: 17px;
          font-size: 16px;
          margin-right: 8px;
          margin-top: 1px;
        }
      }/* more-info-title */
      .opened-message {
          display: none;
      }
      div.more-info-content {
        margin: 0;
        padding: 32px;
        display: none;
        p {
          font-size: 16px;
          line-height: 20px;
          font-weight: 200;
        }
      } /* more-info-content */

/* Miscellaneous 
-------------------------------------------------- */
.hacking-axe{
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 2s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 2s;
    -webkit-animation-name: hack; 
    -webkit-animation-duration: 2s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: hack; 
    -moz-animation-duration: 2s; 
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes hack {
      0% { -webkit-transform: rotate(0deg); }
     50% { -webkit-transform: rotate(45deg); }
    100% { -webkit-transform: rotate(0deg); }
}

@-moz-keyframes hack {
      0% {-moz-transform: rotate(0deg);}
     50% {-moz-transform: rotate(45deg);}
    100% {-moz-transform: rotate(0deg); }
}
