body {
  padding: 30px;
}

a {
  color: #cb2027;
  &:hover {
    color: #cb2027;
  }
}

// Please make prettier.
@mixin li-rounded-box {
  list-style: none;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 5px;
}

@mixin likable {
  .like {
    float: left;
    padding-right: 4px;
  }
}

li.link {
  @include li-rounded-box;
  @include likable;

  .name-and-url {
    width: 80%;
    display: inline;
    float: left;

    .name {
      font-size: 1.2em;
    }
    .url {
      font-size: .8em;
    }
  }
}

div.like {
  a.like-action {
    text-decoration: none;
    &.voted {
      color: red;
    }
  }
}
div.service {
  display: inline;
  float: left;
}
div.body {
  width: 80%;
  display: inline;
  float: left;
}

.link-page, .user-profile {
  ul.mixed-contents, ul.twitter-contents, ul.facebook-contents {
    li {
      @include li-rounded-box;
      @include likable;
    }
  }
}

.social-media-ideas {
  li {
    @include li-rounded-box;
  }
}

a.no-decoration {
  text-decoration: none;
}
