body {
  padding: 30px;
}

// Please make prettier.
li.link {
  list-style: none;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 5px;

  .like {
    float: left;
    padding-right: 4px;
  }

  .name-and-url {
    width: 80%;
    display: inline;
    float: left;

    .name {
      font-size: 1.2em;
    }
    .url {
      font-size: .8em;
    }
  }
  .submitter {
    float: right;
  }
}

div.like {
  a.like-action {
    text-decoration: none;
    &.voted {
      color: red;
    }
  }
}
