<div class="row">
  <a id="articles"></a>
  <section class="small-12 columns content-box">
      <header class='section-header'>
        <h2 class="section-title vote" style="padding-left: 15px;">Linked Accounts</h2>
      </header>

      <p class="page-explanation">
        If you would like your VDash account linked to multiple of your social network accounts, you may do that here.
      </p>

      <p>You are currently linked to:</p>
      <ul>
        <% @linked_accounts.each do |linked_account| %>
          <li><%= linked_account.label %></li>
        <% end %>
      </ul>

      <p>You can link to the following:</p>
      <ul>
        <% @available_providers.each do |available_provider| %>
          <li><%= link_to LinkedAccount.label_for_provider(available_provider), "/auth/#{available_provider}" %></li>
        <% end %>
      </ul>

  </section><!-- small-12 columns content-box -->
</div><!-- row -->
