<footer>
	<address>
		PO Box 339 Berkeley, CA 94704
		<br/>
		info@rootstrikers.org
	</address>
	<p>
		Rootstrikers content is licensed under a Creative Commons Attribution 3.0 license.
	</p>
	<%= render '/links/suggestion_modal' %>
</footer>