<footer>

	<div class="row full-width">


			<p class="licence-info">

                A project of <a href="http://rootstrikers.org" target="_blank">Rootstrikers</a><br/>

                If you're interested in volunteering as a software developer or have other feedback, contact peter@rootstrikers.org<br/>
				Rootstrikers Dashboard content is licensed under a <a href="https://creativecommons.org/licenses/by/3.0/us/" target="_blank">Creative Commons Attribution 3.0 license</a>.
			</p>			

	</div><!-- row full-width -->
	
</footer>
