<section id='global-sidebar' class="small-12 large-2 columns">
	<div id='suggest-article'>
		<%= link_to raw('<h4>Suggest Article</h4>'), "/links/new", class: 'button' %>
	</div>
	<div id="sidebar-main">
	  <%= render 'layouts/navigation' %>
	  <div class='hide-for-small'>
	    <%= render 'layouts/footer' %>
	  </div>
	</div>
</section>